Makefile
*~
localconfig.pri
*.o
*.so
*.substvars
*.debhelper.log
.moc
*-stamp
moc_*.cpp
tests/ft_applets/ft_applets
tests/ft_profiledatainterface/ft_profiledatainterface
tests/ft_statusmenuplugins/ft_statusmenuplugins
tests/ft_themebusinesslogic/ft_themebusinesslogic
tests/ft_wallpaperbusinesslogic/ft_wallpaperbusinesslogic
tests/ft_wallpaperdescriptor/ft_wallpaperdescriptor
tests/ft_wallpapermodel/ft_wallpapermodel
tests/ut_aboutapplet/ut_aboutapplet
tests/ut_aboutbusinesslogic/ut_aboutbusinesslogic
tests/ut_alerttone/ut_alerttone
tests/ut_alerttoneappletmaps/ut_alerttoneappletmaps
tests/ut_alerttoneappletwidget/ut_alerttoneappletwidget
tests/ut_alerttonebrowser/ut_alerttonebrowser
tests/ut_alerttonedefaults/ut_alerttonedefaults
tests/ut_alerttonedefaultsmodel/ut_alerttonedefaultsmodel
tests/ut_alerttonepreview/ut_alerttonepreview
tests/ut_alerttonetoplevel/ut_alerttonetoplevel
tests/ut_alerttonevolume/ut_alerttonevolume
tests/ut_alerttonewidget/ut_alerttonewidget
tests/ut_batteryapplet/ut_batteryapplet
tests/ut_batterybusinesslogic/ut_batterybusinesslogic
tests/ut_batteryimage/ut_batteryimage
tests/ut_displayapplet/ut_displayapplet
tests/ut_displaybusinesslogic/ut_displaybusinesslogic
tests/ut_displaywidget/ut_displaywidget
tests/ut_gconfstringcombo/ut_gconfstringcombo
tests/ut_offlineapplet/ut_offlineapplet
tests/ut_profileapplet/ut_profileapplet
tests/ut_profilebackend/ut_profilebackend
tests/ut_profiledatainterface/ut_profiledatainterface
tests/ut_profileintcombo/ut_profileintcombo
tests/ut_profilevalue/ut_profilevalue
tests/ut_qgconfdirmanager/ut_qgconfdirmanager
tests/ut_qgconfvalue/ut_qgconfvalue
tests/ut_resetapplet/ut_resetapplet
tests/ut_soundsettingsapplet/ut_soundsettingsapplet
tests/ut_themeapplet/ut_themeapplet
tests/ut_themebusinesslogic/ut_themebusinesslogic
tests/ut_themecellcreator/ut_themecellcreator
tests/ut_themedescriptor/ut_themedescriptor
tests/ut_themedialog/ut_themedialog
tests/ut_themelistmodel/ut_themelistmodel
tests/ut_themewidget/ut_themewidget
tests/ut_trackedvariant/ut_trackedvariant
tests/ut_usbapplet/ut_usbapplet
tests/ut_wallpaperapplet/ut_wallpaperapplet
tests/ut_wallpaperbusinesslogic/ut_wallpaperbusinesslogic
tests/ut_wallpapercurrentdescriptor/ut_wallpapercurrentdescriptor
tests/ut_wallpaperdescriptor/ut_wallpaperdescriptor
tests/ut_wallpapereditorwidget/ut_wallpapereditorwidget
tests/ut_wallpaperlist/ut_wallpaperlist
tests/ut_wallpapermodel/ut_wallpapermodel
tests/ut_wallpaperwidget/ut_wallpaperwidget
tests/ut_warrantyapplet/ut_warrantyapplet
debian/duicontrolpanel-aboutapplet/
debian/duicontrolpanel-batteryapplet/
debian/duicontrolpanel-displayapplet/
debian/duicontrolpanel-offlineapplet/
debian/duicontrolpanel-profileapplet/
debian/duicontrolpanel-resetapplet/
debian/duicontrolpanel-soundsettingsapplet/
debian/duicontrolpanel-testapplet/
debian/duicontrolpanel-themeapplet/
debian/duicontrolpanel-usbapplet/
debian/duicontrolpanel-wallpaperapplet/
debian/duicontrolpanel-warrantyapplet/
debian/duistatusindicatormenu-profileplugin/
debian/libmeegocontrol-dev/
debian/libmeegocontrol-doc/
debian/libmeegocontrol0/
debian/meegotouch-controlpanelapplets-tests/
debian/systemui-applets-l10n-engineering-english/
debian/tmp/
doc/html/
debian/files
*.debhelper
src/libmeegocontrol/lib/
keep_this_dir
tests.xml
translations/meegotouchcp-applets.qm
translations/meegotouchcp-applets.ts
