[Desktop Entry]
Type=ControlPanelApplet
Name=USB
X-logical-id=qtn_usb_title
X-translation-catalog=usb
X-MeeGo-Service=com.nokia.DuiControlPanel
X-MeeGo-Method=com.nokia.DuiControlPanelIf.appletPage
X-MeeGo-Object-Path=/
X-MeeGo-Fixed-Args=USB

Icon=
Exec=

[DUI]
X-DUIApplet-Applet=libusbapplet.so

[DCP]
Category=qtn_sett_main_accessories
Order=1
WidgetType=Label

