AlertToneAppletWidget MApplicationExtensionAreaStyle#VolumeExtensionArea
{
    background-image: ;
    background-color: $COLOR_INVERTED_BACKGROUND;

    container-mode: false;
    layout-orientation: vertical;
}

#MApplicationWindow
{
    tool-bar-style-name: "MToolBarStyleInverted";
}

