[Desktop Entry]
Type=ControlPanelApplet
Name=OfflineButton
Icon=
Exec=
X-logical-id=qtn_sett_main_display
X-translation-catalog=offline
X-MeeGo-Service=com.nokia.DuiControlPanel
X-MeeGo-Method=com.nokia.DuiControlPanelIf.appletPage
X-MeeGo-Object-Path=/
X-MeeGo-Fixed-Args=OfflineButton

[DUI]
X-DUIApplet-Applet=libofflineapplet.so

[DCP]
Category=qtn_sett_main_connections
Order=0
WidgetType= Button
HelpId=IDUG_MEEGO_CONN_CLOSE.html
