[Desktop Entry]
Type=DUIApplet
Name=OfflineButton
Icon=
Exec=
X-logical-id=qtn_sett_main_display
X-translation-catalog=offline

[DUI]
X-DUIApplet-Applet=libofflineapplet.so

[DCP]
Category= Connectivity
Order=0
WidgetType= Button

