[Desktop Entry]
Type=ControlPanelApplet
Name=Theme
X-logical-id=qtn_teme_theme
X-translation-catalog=theme
Icon=
Exec=
X-MeeGo-Service=com.nokia.DuiControlPanel
X-MeeGo-Method=com.nokia.DuiControlPanelIf.appletPage
X-MeeGo-Object-Path=/
X-MeeGo-Fixed-Args=Theme

[DUI]
X-DUIApplet-Applet=libthemeapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_NOT_DEFINED.png
X-DUIApplet-ImagePortrait=Widget_portrait_NOT_DEFINED.png

[DCP]
Category=qtn_sett_main_personalize
Order=2
WidgetType=Image
Text2= Not found
