[Desktop Entry]
Type=DUIApplet
Name=Wallpapers
# It is not official
X-logical-id=qtn_theme_wallpaper
X-translation-catalog=systemui-applets
Icon=
Exec=

[DUI]
X-DUIApplet-Applet=libwallpaperapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_NOT_DEFINED.png
X-DUIApplet-ImagePortrait=Widget_portrait_NOT_DEFINED.png

[DCP]
Category=qtn_sett_main_look
Order=1
WidgetType=Image
Text2=Not found
