[Desktop Entry]
Type=ControlPanelApplet
Name=Wallpaper
X-logical-id=qtn_wall_wallpaper
X-translation-catalog=wallpaper
Icon=
Exec=
X-MeeGo-Service=com.nokia.DuiControlPanel
X-MeeGo-Method=com.nokia.DuiControlPanelIf.appletPage
X-MeeGo-Object-Path=/
X-MeeGo-Fixed-Args=Wallpaper

[DUI]
X-DUIApplet-Applet=libwallpaperapplet.so

[DCP]
Category=qtn_sett_main_personalize
Order=1
WidgetType=Image
Text2=Not found
