[Desktop Entry]
Type=DUIApplet
Name=Wallpaper
X-logical-id=qtn_wall_wallpaper
X-translation-catalog=wallpaper
Icon=
Exec=

[DUI]
X-DUIApplet-Applet=libwallpaperapplet.so

[DCP]
Category=qtn_sett_main_look
Order=1
WidgetType=Image
Text2=Not found
