
WarrantyWidget MLabelStyle#WarrantyAppletExpirationLabel {
    color:           $COLOR_INVERTED_FOREGROUND;
    font:            $FONT_SMALL_BOLD;
    margin-top:      $MARGIN_XLARGE;
    margin-bottom:   $MARGIN_XLARGE;
    margin-left:     $MARGIN_XLARGE;
    margin-right:    $MARGIN_XLARGE;
}

WarrantyWidget MLabelStyle#WarrantyAppletTermsLabel {
    color:           $COLOR_INVERTED_FOREGROUND;
    font:            $FONT_SMALL;
    margin-top:      $MARGIN_XLARGE;
    margin-bottom:   $MARGIN_XLARGE;
    margin-left:     $MARGIN_XLARGE;
    margin-right:    $MARGIN_XLARGE;
}

