
#ProfileChooserDialog {
    /* force the close button visibility */
    has-close-button: true;
    has-title-bar: true;
}

#CustomCommonMainIcon MImageWidgetStyle#CommonMainIcon {
    margin-top:     0;
    margin-bottom:  0;
}

