Source: systemui-applets
Section: devel
Priority: optional
Maintainer: David Kedves <dkedves@blumsoft.eu>
Build-Depends: debhelper (>= 5), libduicontrolpanel-dev,
               libdui-dev (>= 0.18), libqmsystem-dev,
               libprofile-qt-dev (>= 0.13), duistatusindicatormenu-dev,
               libpulse-dev (>= 0.9.15)
Standards-Version: 3.7.3

Package: systemui-applets-tests
Section: devel
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, testrunner, ci-testing, duicontrolpanel-usbapplet,
         duicontrolpanel-batteryapplet, duistatusindicatormenu-batteryplugin,
         duistatusindicatormenu-volumeplugin, duicontrolpanel-displayapplet,
         duicontrolpanel-profileapplet, duistatusindicatormenu-profileplugin,
         duicontrolpanel-ledapplet
XB-Maemo-CI-Packages: system-ui
XB-Maemo-CI-Stage: fast, staging
Description: Test package for system-ui applets

Package: systemui-applets-l10n-engineering-english
Section: devel
Architecture: all
Description: Engineering English translations for system-ui packages.

Package: duicontrolpanel-usbapplet
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, duicontrolpanel,
         systemui-applets-l10n-engineering-english
Description: USB applet for the control panel application

Package: duicontrolpanel-batteryapplet
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, system-ui, libduicontrolpanel,
         systemui-applets-l10n-engineering-english
Description: Battery settings applet.

Package: duistatusindicatormenu-batteryplugin
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duistatusindicatormenu,
         system-ui, systemui-applets-l10n-engineering-english
Description: Battery status indicator menu plugin.

Package: duistatusindicatormenu-volumeplugin
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duistatusindicatormenu, 
         systemui-applets-l10n-engineering-english, libpulse0
Description: Volume status indicator plugin

Package: duicontrolpanel-displayapplet
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duicontrolpanel,
         system-ui, systemui-applets-l10n-engineering-english
Description: Display settings applet.

Package: duicontrolpanel-profileapplet
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duicontrolpanel,
         systemui-applets-l10n-engineering-english
Description: Profiles settings applet.

Package: duicontrolpanel-themeapplet
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duicontrolpanel,
         systemui-applets-l10n-engineering-english
Description: Theme changing applet.

Package: duistatusindicatormenu-profileplugin
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duistatusindicatormenu,
         systemui-applets-l10n-engineering-english
Description: Profile status indicator menu plugin.

Package: duicontrolpanel-ledapplet
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duicontrolpanel, system-ui,
         systemui-applets-l10n-engineering-english
Description: LED settings applet.

