Source: meegotouch-controlpanelapplets
Section: devel
Priority: optional
Maintainer: David Kedves <dkedves@blumsoft.eu>
Build-Depends: debhelper (>= 5), libduicontrolpanel-dev (>= 0.9.7),
               libmeegotouch-dev (>= 0.20.60), libqmsystem2-dev,
               libprofile-dev, system-ui-dev (>= 0.16), libqttracker-dev,
               libthumbnailer-dev, libcontentmanager-dev, devicelock-dev,
               doxygen, clean-device-dev (>= 0.0.3), libgstreamer0.10-dev,
               libqtm-dev, libqtm-systeminfo-dev
Standards-Version: 3.8.0

Package: meegotouch-controlpanelapplets-tests
Section: devel
Priority: optional
Replaces: systemui-applets-tests
Conflicts: systemui-applets-tests
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duicontrolpanel-usbapplet,
         duicontrolpanel-batteryapplet, duicontrolpanel-aboutapplet,
         duicontrolpanel-displayapplet, duicontrolpanel-profileapplet,
         duistatusindicatormenu-profileplugin, duicontrolpanel-themeapplet,
         duicontrolpanel-wallpaperapplet, duicontrolpanel-resetapplet,
         duicontrolpanel-warrantyapplet, duicontrolpanel-offlineapplet,
         duicontrolpanel-soundsettingsapplet
XB-Maemo-CI-Packages: systemui-applets-tests
XB-Maemo-CI-Stage: fast, staging
Description: Test package for meegotouch-controlpanelapplets

Package: systemui-applets-l10n-engineering-english
Section: devel
Architecture: all
Depends: ${misc:Depends}
Description: Engineering English translations for meegotouch-controlpanelapplets packages.

Package: libmeegocontrol-doc
Section: doc
Priority: optional
Depends: ${misc:Depends}
Architecture: all
Description: Documentation for libmeegocontrol

Package: libmeegocontrol0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}, libgstreamer0.10-0,
         libgconf2-6, libprofile0
Description: libmeegocontrol to use some controlpanel applet as a library

Package: libmeegocontrol-dev
Architecture: any
Replaces: libmeegocontrol0
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, libgstreamer0.10-dev,
         libmeegocontrol0 (= ${binary:Version}), libthumbnailer-dev,
         libduicontrolpanel-dev, libcontentmanager-dev, libqttracker-dev,
Description: libmeegocontrol development files

Package: duicontrolpanel-offlineapplet
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duicontrolpanel,
         systemui-applets-l10n-engineering-english
Description: Offline settings applet.

Package: duicontrolpanel-usbapplet
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duicontrolpanel,
         systemui-applets-l10n-engineering-english
Description: USB applet for the control panel application

Package: duicontrolpanel-batteryapplet
Provides: duistatusindicatormenu-batteryplugin
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duicontrolpanel,
         systemui-applets-l10n-engineering-english
Description: Battery settings applet.

Package: duicontrolpanel-displayapplet
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duicontrolpanel,
         systemui-applets-l10n-engineering-english
Description: Display settings applet.

Package: duicontrolpanel-profileapplet
Section: misc
Architecture: any
Provides: duicontrolpanel-ledapplet
Depends: ${shlibs:Depends}, ${misc:Depends}, duicontrolpanel,
         systemui-applets-l10n-engineering-english
Description: Profiles settings applet.

Package: duicontrolpanel-themeapplet
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duicontrolpanel,
         systemui-applets-l10n-engineering-english
Description: Theme changing applet.

Package: duicontrolpanel-wallpaperapplet
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqttracker1pre6, 
         tumbler, libthumbnailer0, duicontrolpanel, 
         systemui-applets-l10n-engineering-english
Description: Desktop wallpaper changing applet.

Package: duicontrolpanel-resetapplet
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duicontrolpanel,
         systemui-applets-l10n-engineering-english, clean-device
Description: Device clearing and restore settings applet.

Package: duicontrolpanel-aboutapplet
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duicontrolpanel,
         systemui-applets-l10n-engineering-english
Description: The about-product applet that shows device and software
 informations.

Package: duicontrolpanel-warrantyapplet
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duicontrolpanel,
         systemui-applets-l10n-engineering-english
Description: The warranty applet that shows the warranty information.

Package: duicontrolpanel-testapplet
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duicontrolpanel,
         systemui-applets-l10n-engineering-english
Description: Testapplet to manual test duicontrolpanel.

Package: duistatusindicatormenu-profileplugin
Section: misc
Architecture: any
Provides: duistatusindicatormenu-volumeplugin
Depends: ${shlibs:Depends}, ${misc:Depends},
         systemui-applets-l10n-engineering-english
Description: Profile status indicator menu plugin.

Package: duicontrolpanel-soundsettingsapplet
Section: sound
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Sound Settings Applet

