[Desktop Entry]
Type=ControlPanelApplet
Name=Brightness
Icon=
Exec=
X-logical-id=qtn_disp_bright
X-translation-catalog=settings,display,meegotouchcp-applets
X-Maemo-Service=com.nokia.DuiControlPanel
X-Maemo-Method=com.nokia.DuiControlPanelIf.appletPage
X-Maemo-Object-Path=/
X-Maemo-Fixed-Args=Brightness

[DUI]
X-DUIApplet-Applet=libdisplayapplet.so

[DCP]
Category=MainPage
Part=Brightness
Order=5
WidgetType=Slider
SliderLeftImage=icon-s-image-edit-low-brightness
SliderRightImage=icon-s-image-edit-high-brightness

