[Desktop Entry]
Type=DUIApplet
Name=Display
Icon=
Exec=
X-logical-id=qtn_disp_display
X-translation-catalog=systemui-applets

[DUI]
X-DUIApplet-Applet=libdisplayapplet.so

[DCP]
Category= Look & Feel
Order=1
WidgetType=DcpLabel2

