[Desktop Entry]
Type=DUIApplet
Name=About product
X-logical-id=qtn_prod_about_product
X-translation-catalog=about-product

[DUI]
X-DUIApplet-Applet=libaboutapplet.so

[DCP]
Category=qtn_sett_main_data
Order=1
WidgetType=Label
