
AboutWidget MImageWidgetStyle#AboutAppletLogoImage {
    margin-top:      $MARGIN_XLARGE;
    margin-bottom:   0;
    margin-left:     $MARGIN_XLARGE;
    margin-right:    $MARGIN_XLARGE;
}

AboutWidget MImageWidgetStyle#AboutAppletBarcodeImage {
    margin-top:      $MARGIN_XLARGE;
    margin-bottom:   0;
    margin-left:     $MARGIN_XLARGE;
    margin-right:    $MARGIN_XLARGE;
    minimum-size:    128 128;
    preferred-size:  128 128;
    maximum-size:    128 128;
}


AboutAppletCommonPanelInverted {
 minimum-size:      $SIZE_LIST $SIZE_LIST;
 preferred-size:    -1 $SIZE_LIST;
 maximum-size:      16;
 background-tiles:  ;
 background-image:  $CP_INVERTED_BG;
 background-color:  ;
 margin-top:        0;
 margin-bottom:     0;
 margin-left:       0;
 margin-right:      0;
 }
