AboutWidget MImageWidgetStyle#AboutAppletLogoImage {
    margin-top:      $MARGIN_XLARGE;
    margin-bottom:   $MARGIN_XLARGE;
    margin-left:     $MARGIN_XLARGE;
    margin-right:    $MARGIN_XLARGE;
}

AboutWidget MLabelStyle#AboutAppletInfoLabel {
    color:           $COLOR_INVERTED_FOREGROUND;
    font:            $FONT_DEFAULT;
}

AboutWidget MLabelStyle#AboutAppletLicenseLabel {
    color:           $COLOR_INVERTED_FOREGROUND;
    font:            $FONT_SMALL;
}
