AboutWidget MImageWidgetStyle#AboutAppletLogoImage {
    margin-top:      $MARGIN_XLARGE;
    margin-bottom:   $MARGIN_XLARGE;
    margin-left:     $MARGIN_XLARGE;
    margin-right:    $MARGIN_XLARGE;
}

